ENVIRONMENT=local

# Django
# ------------------------------------------------------------------------------
DJANGO_SETTINGS_MODULE=config.settings.local

DJANGO_DEBUG=True
# Change to randomly generated in production: https://djecrety.ir/
DJANGO_SECRET_KEY=roast-roulette
# Change to domain(s) in production (e.g. 'domain.com,.all-my-subdomains-will-work.com')
DJANGO_ALLOWED_HOSTS=*
# DJANGO_SECURE_SSL_REDIRECT=True
# DJANGO_ADMIN_URL=additional-safety-by-changing-admin-url/           # Recommended (change from 'admin/')

# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=2

# XAI
# ------------------------------------------------------------------------------
XAI_API_KEY=xai-api-key
