@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/baloo2/baloo2-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/static/fonts/baloo2/baloo2-500.ttf') format('truetype');
}
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/static/fonts/baloo2/baloo2-600.ttf') format('truetype');
}
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/static/fonts/baloo2/baloo2-700.ttf') format('truetype');
}
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/static/fonts/baloo2/baloo2-800.ttf') format('truetype');
}
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/static/fonts/oxanium/oxanium-200.ttf') format('truetype');
}
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/static/fonts/oxanium/oxanium-300.ttf') format('truetype');
}
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/oxanium/oxanium-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/static/fonts/oxanium/oxanium-500.ttf') format('truetype');
}
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/static/fonts/oxanium/oxanium-600.ttf') format('truetype');
}
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/static/fonts/oxanium/oxanium-700.ttf') format('truetype');
}
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/static/fonts/oxanium/oxanium-800.ttf') format('truetype');
}
