{#<form class="group min-w-[100%] max-w-[100%] transition-transform duration-150 -translate-x-[calc(var(--index)*100%)]">#}
{#    <label class="flex py-3 px-4 lg:py-4 lg:px-5 2xl:py-5 2xl:px-6 rounded-2xl border border-purple-neutral-900/50">#}
{#                        <textarea name="roast_text"#}
{#                                  class="w-full field-sizing-content overflow-hidden lg:text-lg 2xl:text-xl outline-none resize-none"#}
{#                                  rows="4"#}
{#                                  _="on load from body or input#}
{#                                        set my.style.height to 'auto'#}
{#                                        set my.style.height to my.scrollHeight + 'px'">#}
{#                            {{- roast.text -}}#}
{#                        </textarea>#}
{#    </label>#}
    {#                    <label tabindex="0" class="flex justify-center items-center mt-6 text-2xl lg:text-3xl 2xl:text-4xl font-bold leading-none hover:brightness-[120%] hover:scale-[1.05] active:scale-[1.1] transition cursor-pointer" type="button" role="button">#}
    {#                        <input type="checkbox" class="hidden" name="submit" />#}
    {#                            <span>😂 Funny</span>#}
    {#                        <span>#}
    {#                            <span class="me-1.5">😐</span>#}
    {#                            <span class="tracking-wider">Lame</span>#}
    {#                        </span>#}
    {#                    </label>#}
{#</form><form class="group min-w-[100%] max-w-[100%] transition-transform duration-150 -translate-x-[calc(var(--index)*100%)]">#}
{#    <label class="flex py-3 px-4 lg:py-4 lg:px-5 2xl:py-5 2xl:px-6 rounded-2xl border border-purple-neutral-900/50">#}
{#                        <textarea name="roast_text"#}
{#                                  class="w-full field-sizing-content overflow-hidden lg:text-lg 2xl:text-xl outline-none resize-none"#}
{#                                  rows="4"#}
{#                                  _="on load from body or input#}
{#                                        set my.style.height to 'auto'#}
{#                                        set my.style.height to my.scrollHeight + 'px'">#}
{#                            {{- roast.text -}}#}
{#                        </textarea>#}
{#    </label>#}
    {#                    <label tabindex="0" class="flex justify-center items-center mt-6 text-2xl lg:text-3xl 2xl:text-4xl font-bold leading-none hover:brightness-[120%] hover:scale-[1.05] active:scale-[1.1] transition cursor-pointer" type="button" role="button">#}
    {#                        <input type="checkbox" class="hidden" name="submit" />#}
    {#                            <span>😂 Funny</span>#}
    {#                        <span>#}
    {#                            <span class="me-1.5">😐</span>#}
    {#                            <span class="tracking-wider">Lame</span>#}
    {#                        </span>#}
    {#                    </label>#}
{#</form>#}
