<label class="peer group fixed top-full lg:right-8 max-h-[90%] px-5 py-4 lg:max-h-[50%] max-w-2xs sm:max-w-xs size-full flex flex-col mx-auto z-10 border border-purple-neutral-900/50 bg-[#130A1A] rounded-t-3xl -translate-y-13 has-checked:-translate-y-full transition duration-200 cursor-pointer outline-0 select-none">
    <!-- Menu Toggle -->
    <input type="checkbox" class="peer hidden" id="players-menu-toggle" hx-preserve="true">

    <!-- Menu Header -->
    <span class="group flex items-center justify-between">
        <span class="flex items-center text-sm sm:text-base">
            <iconify-icon icon="fa-solid:users"></iconify-icon>
            <span class="ms-4 translate-y-px">
                Players ({{ players|length }})
            </span>
        </span>
        <span class="flex group-peer-checked:hidden gap-1">
            {% for p in players[:5] %}
                <!-- Small Avatar -->
                <img src="{{ static('images/avatar/' ~ p.avatar ~ '.svg') }}" alt="{{ p.name }} Avatar" class="size-4">
            {% endfor %}
        </span>
    </span>

    <!-- Menu Content -->
    <span class="flex-1 flex flex-col max-h-[calc(100%-3rem)] overflow-scroll scrollbar-hide px-1.25 mt-6">
        {% for p in players %}
            {% set is_current_player = (p == current_player) %}
            <div class="flex items-center mt-3">
                <!-- Avatar -->
                <img src="{{ static('images/avatar/' ~ p.avatar ~ '.svg') }}" alt="{{ p.name }} Avatar" class="size-5">
                <!-- Player Name -->
                <span class="text-xs sm:text-sm text-purple-neutral-300 truncate mx-2.5">
                    {{ p.name ~ (' (You)' if is_current_player) }}
                </span>
            </div>
        {% endfor %}
    </span>
</label>
{# Backdrop (Mobile) #}
<label for="players-menu-toggle" class="lg:hidden fixed inset-0 backdrop-blur-xs invisible opacity-0 peer-has-checked:visible peer-has-checked:opacity-100 transition-opacity"></label>
