{% set target_photo_index = (game.round.photos.all()|list).index(game.round.roast_target_photo) + 1  %}

<div class="flex-1 flex flex-col justify-center items-center my-6"
     style="--target-photo-index: {{ target_photo_index }};
             --photo-width: 300px;
             --gap-width: 2rem;
             --start-position: calc(1.5 * var(--photo-width) + 2 * var(--gap-width) + 4px);
             --center-of-target-photo: calc(var(--start-position)  -  (var(--photo-width) + var(--gap-width)) * var(--target-photo-index));
             --animation-duration: {{ 5 - (game.round.seconds_total - game.round.seconds_left) }}s;
             ">
    <div class="flex items-center justify-start w-2xl mx-auto gap-(--gap-width)">
        {% for photo in game.round.photos.all() %}
            <figure class="relative inline-grid place-content-center w-(--photo-width) min-w-(--photo-width) max-w-(--photo-width)
                               starting:translate-x-(--start-position) translate-x-(--center-of-target-photo)
                               duration-(--animation-duration)">
                <img src="{{ photo.base64_url }}"
                     alt="Roast Target Image {{ loop.index }}"
                     draggable="false"
                     class="object-cover rounded-3xl transition-[transform,opacity] {{ 'starting:opacity-25 opacity-100 starting:scale-[1] scale-[1.05] delay-[calc(var(--animation-duration)-1s)] duration-500' if loop.index == target_photo_index else 'brightness-25' }}" />
                {% if photo.is_roast_target %}
                    <figcaption class="flex flex-col items-center text-center mt-6">
                        {% if photo.caption %}
                            <span class="lg:text-lg font-bold starting:opacity-0 delay-(--animation-duration) transition duration-500">
                                {{ photo.caption }}
                            </span>
                        {% endif %}
                        <span class="inline-flex items-center gap-2.5 mt-3 starting:opacity-0 delay-[calc(var(--animation-duration)+1s)] transition duration-500">
                            <img src="{{ static('images/avatar/'~photo.player.avatar~'.svg') }}" class="{{ 'size-4 lg:size-5' if photo.caption else 'size-5 lg:size-7' }}" alt="{{ photo.player.name }} Avatar">
                            <span class="{{ 'text-neutral-400 font-light text-xs lg:text-sm' if photo.caption else 'font-semibold lg:text-lg'}} translate-y-[2px]">
                                {{ photo.player.name }}
                            </span>
                        </span>
                    </figcaption>
                {% endif %}
            </figure>
        {% endfor %}
    </div>
    {#    <span class="inline-flex items-center gap-3 lg:text-lg text-purple-neutral-500 leading-none mt-6 lg:mt-9 starting:opacity-0 delay-(--animation-duration) duration-1000 transition">#}
    {#        <span>{{ "Who would've thought" if game.players.count() == 1 else 'Get ready...' }}</span>#}
    {#    </span>#}
</div>
