{# Photo Upload Screen #}

<div class="flex-1 flex flex-col justify-center items-center">
    <!-- Uploading -->
    {% if not player.photo %}
        <!-- Photo Uploader -->
        <label id="photo-upload" tabindex="0" class="relative flex flex-col items-center justify-center rounded-3xl bg-neutral-300/2.5 hover:bg-neutral-300/5 focus:bg-neutral-300/5 border border-dashed border-neutral-300/20 w-xs sm:w-sm lg:w-md 2xl:w-lg aspect-4/3 select-none cursor-pointer hover:border-neutral-300 focus:border-neutral-300 hover:scale-[1.05] focus:scale-[1.05] transition-all duration-300 ease-in-out">
            <input name="photo" type="file" class="appearance-none absolute inset-0 invisible"
                   accept="image/*"
                   hx-post="{{ url('games:upload_photo', game_code=game.code) }}"
                   hx-encoding='multipart/form-data'
                   hx-validate="true"
                   hx-on::validation:validate="event.target.files[0].size >= 10**7 && (this.setCustomValidity('Photo must be less than 10MB.') | this.reportValidity())"
                   hx-on:click="this.setCustomValidity('')"
            >
            <iconify-icon icon="bi:image-fill" class="size-10 sm:size-12 lg:size-14 2xl:size-16" height="none"></iconify-icon>
            <span class="text-lg lg:text-xl 2xl:text-2xl leading-none font-bold mt-4 sm:mt-4.5 lg:mt-5 2xl:mt-5.5">
                Upload a photo
            </span>
            <span class="lg:text-lg 2xl:text-xl text-neutral-400 mt-2 sm:mt-2.25 lg:mt-2.5 2xl:mt-2.75">
                Before the timer runs out!
            </span>
        </label>
    {% else %}
        <div class="flex flex-col justify-center items-center">
            <!-- Photo -->
            <img src="{{ player.photo.image.url }}" class="max-w-xs sm:max-w-sm lg:max-w-md 2xl:max-w-lg max-h-[300px] rounded-3xl object-cover mx-auto starting:scale-[1.1] transition-transform duration-300 ease-in-out" />
            <span class="text-lg lg:text-xl 2xl:text-2xl leading-none font-bold mt-4 sm:mt-4.5 lg:mt-5 2xl:mt-5.5">
                Your photo
            </span>
            <span class="lg:text-lg 2xl:text-xl text-neutral-400 mt-2 sm:mt-2.25 lg:mt-2.5 2xl:mt-2.75">
                Waiting for others...
            </span>
        </div>
    {% endif %}
</div>
