<div class="flex flex-col justify-center items-center">
    {% if not turn.is_in_progress %}
        <div class="inline-flex peer overflow-y-hidden" tabindex="-1">
            <span class="inline-block leading-[1em] w-[3ch] text-center h-[1em] transition-colors duration-[250ms] text-[2.5rem] lg:text-[2.75rem] 2xl:text-[3rem]
                                before:relative before:transition before:duration-[250ms] before:text-center before:whitespace-pre before:top-[calc(var(--seconds-left)*-1em)] before:content-(--seconds-content) before:text-neutral-300
                                after:fixed after:left-0 after:top-0 after:bg-neutral-300/50 after:h-0.5 after:w-full after:scale-x-[calc((var(--seconds-left)/var(--seconds-total))*100%)] after:transition-transform after:duration-[1s]"
                  style="--seconds-left: {{ [0, turn.phase_seconds_left - 2] | max }};
                          --seconds-total: {{ turn.phase_seconds_total - 2 }};
                          --seconds-content: '{% for i in range(0, turn.phase_seconds_total + 1) %}{{ "%02d"|format(i) }}\A {% endfor %}';
                          "
                  _="init
             set secondsLeft to {{ [0, turn.phase_seconds_left - 2] | max }}
             repeat until secondsLeft is 0
                 wait 1s
                 decrement secondsLeft
                 me.style.setProperty('--seconds-left', secondsLeft)">
            </span>
        </div>
    {% endif %}

    <span class="text-lg lg:text-2xl 2xl:text-3xl leading-none font-light text-purple-neutral-500 mt-3 lg:mt-4.5">
        {{ TurnPhase(turn.phase).name }}
    </span>
</div>
