{% extends 'base.jinja' %}

{% block content %}

    <div class="flex flex-col justify-center items-center size-full">

        <img src="{{ static('images/hero.svg') }}" alt="Logo with Elements" class="max-w-[18rem]" />

        <p class="text-pink-500 text-[3.5rem] lg:text-[4rem] 2xl:text-[4.5rem] font-baloo-2 text-center leading-none tracking-tight font-bold uppercase scale-y-[1.1] -mt-20">
            <span class="drop-shadow-xl">Roast</span>
            <span class="block -translate-y-4">Roulette</span>
        </p>
        <p class="text-lg lg:text-2xl 2xl:text-3xl leading-none font-light text-purple-neutral-500 -mt-1 lg:mt-2">
            Get roasted by an AI, but try not to cry
        </p>

        <div class="flex items-center mt-6 lg:mt-9 space-x-6 lg:space-x-9">
            <!-- Create Game -->
            <a href="{{ url('games:create') }}" class="min-w-36 text-center group text-3xl lg:text-4xl 2xl:text-5xl font-bold leading-none px-6.5 lg:px-7 lg:px-7.5 2xl:px-8 py-2.5 lg:py-2.75 2xl:py-3 text-[#140B1B] bg-pink-500 rounded-full hover:brightness-[120%] focus:brightness-[120%] hover:scale-[1.05] focus:scale-[1.05] active:scale-[1.1] transition outline-0 cursor-pointer"
               type="submit" role="button" tabindex="0"
            >
                <span class="block translate-y-px">
                    Create
                </span>
            </a>

            <!-- Join Game -->
            <a href="{{ url('games:join') }}" class="min-w-36 text-center group text-3xl lg:text-4xl 2xl:text-5xl font-bold leading-none px-6.5 lg:px-7 lg:px-7.5 2xl:px-8 py-2.5 lg:py-2.75 2xl:py-3 text-[#140B1B] bg-pink-500 rounded-full hover:brightness-[120%] focus:brightness-[120%] hover:scale-[1.05] focus:scale-[1.05] active:scale-[1.1] transition outline-0 cursor-pointer"
               type="submit" role="button" tabindex="0"
            >
                <span class="block translate-y-px">
                    Join
                </span>
            </a>
        </div>
    </div>
{% endblock %}
