{% extends 'base.jinja' %}

{% block content %}

    <div class="flex-1 flex flex-col justify-center items-center">
        <form class="group/form flex flex-col items-center select-none"
              action="{{ url('games:join') if is_joining else url('games:create') }}"
              method="POST"
              hx-target-error="#form-errors"
              hx-ext="response-targets"
        >
            {% csrf_token %}
            <button type="button" class="group relative flex items-center hover:scale-[1.025] focus:scale-[1.025] active:scale-[1.075] outline-0 cursor-pointer transition-transform"
                    _="on click
                        set newVal to random [1, 2, 3, 4, 5, 6, 7, 8]
                        put newVal into <input[name=avatar] />'s value
                        put `{{ static('images/avatar/') }}${newVal}.svg` into <img />'s src"
            >
                {% set avatar = range(1, 8)|random %}
                <input type="hidden" name="avatar" value="{{ avatar }}">
                <img src="{{ static('images/avatar/'~avatar~'.svg') }}" class="size-28 lg:size-32 2xl:size-32 object-contain" alt="Avatar">
                <iconify-icon icon="fa6-solid:rotate-left" class="absolute -right-1.25 -bottom-1.25 lg:-right-0.5 lg:-bottom-0.5 text-base lg:text-lg 2xl:text-xl text-purple-neutral-500 group-hover:text-pink-500 group-focus:text-pink-500 transition"></iconify-icon>
            </button>

            <!-- Player Name -->
            <label class="flex items-center group rounded-full text-lg lg:text-xl 2xl:text-2xl leading-none max-w-[14rem] lg:max-w-3xs 2xl:max-w-2xs w-full px-3.75 lg:px-4 2xl:px-4.5 py-2.75 lg:py-3 2xl:py-3.25 mt-4.5 lg:mt-5.25 2xl:mt-6 bg-purple-neutral-900/25 border border-transparent hover:border-purple-neutral-300 has-focus:border-pink-500/50 transition">
                <iconify-icon icon="solar:user-bold" class="me-2.5 lg:me-3 2xl:me-3.5 text-purple-neutral-300 group-has-focus:text-pink-500 -translate-y-px transition"></iconify-icon>
                <input class="w-full font-semibold outline-none placeholder-purple-neutral-500 placeholder:font-normal placeholder:transition"
                       type="text"
                       name="player_name"
                       placeholder="Enter a nickname"
                       minlength="3"
                       maxlength="32"
                       required
                       autofocus
                />
            </label>

            {% if is_joining %}
                <!-- Game Code -->
                <label class="flex items-center group rounded-full text-lg lg:text-xl 2xl:text-2xl leading-none max-w-[14rem] lg:max-w-3xs 2xl:max-w-2xs w-full px-3.75 lg:px-4 2xl:px-4.5 py-2.75 lg:py-3 2xl:py-3.25 mt-3 lg:mt-4 2xl:mt-4.5 bg-purple-neutral-900/25 border border-transparent hover:border-purple-neutral-300 has-focus:border-pink-500/50 transition">
                    <iconify-icon icon="iconoir:scan-qr-code" class="me-2.5 lg:me-3 2xl:me-3.5 text-purple-neutral-300 group-has-focus:text-pink-500 -translate-y-px transition scale-[1.1]"></iconify-icon>
                    <input class="w-full font-semibold outline-none placeholder-purple-neutral-500 placeholder:font-normal uppercase placeholder:normal-case"
                           type="text"
                           name="game_code"
                           placeholder="Enter game code"
                           maxlength="4"
                           minlength="4"
                           value="{{ game_code if game_code else '' }}"
                           required
                           {{ 'disabled' if game_code }}
                    />
                </label>
            {% endif %}

            <button class="group text-2xl lg:text-3xl 2xl:text-4xl font-bold leading-none px-6.5 lg:px-7 lg:px-7.5 2xl:px-8 py-2.5 lg:py-2.75 2xl:py-3 mt-4.5 lg:mt-5.25 2xl:mt-6 text-[#140B1B] bg-[#EC3179] rounded-full hover:brightness-[120%] focus:brightness-[120%] hover:scale-[1.05] focus:scale-[1.05] active:scale-[1.1] outline-0 transition cursor-pointer"
                    type="submit" role="button" tabindex="0"
            >
                <span class="block translate-y-px">
                    {{ 'Join' if is_joining else 'Create' }}
                </span>
            </button>
        </form>

        <div id="form-errors" class="empty:hidden text-sm lg:text-base 2xl:text-lg text-red-500 mt-2.5 lg:mt-2.75 2xl:mt-3">
            {#- Form errors will be displayed here -#}
        </div>
    </div>
{% endblock %}
