{% extends 'base.jinja' %}

{% block content %}
    <div id="game"
         class="size-full flex flex-col justify-center items-center"
         hx-ext="ws"
         ws-connect="/{{ game.code }}/"
         hx-trigger="htmx:wsBeforeMessage[event.detail.message=='refreshGame'] from:body, refreshGame from:body"
         hx-get="{{ url('games:detail', game_code=game.code) }}"
         hx-target="body"
    >
        {% if game.is_in_lobby %}

            {% include 'games/partials/_lobby.jinja' %}

        {% else %}

            {% include 'games/partials/_stage_header.jinja' %}

            {# Dynamically include partial based on current round stage #}
            {% set stage_number = (GameRoundStage|list).index(game_round.stage) + 1 %}
            {% set stage_slug = '_'.join(game_round.stage.lower().split()) %}
            {% include 'games/partials/_stage_'~stage_number~'_'~stage_slug~'.jinja' %}

            {% include 'games/partials/_player_list_in_game.jinja' %}

        {% endif %}
    </div>
{% endblock %}
